<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forest404 - the best thing in life is trees</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />


    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />



    <!-- Custom CSS -->

    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>

<body id="page-top" style="background-color: #f5f5f5 !important;">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="#page-top">Forest 404</a>
            </li>
            @*<li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#contact">Contact</a>
            </li>*@
        </ul>
    </nav>


    <nav class="container-fluid  navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
        <div class="container-fluid">

            @*<a class="navbar-brand js-scroll-trigger" href="#page-top">Treely</a>*@
            <h1 style="color:black" id="app-name">Forest 404</h1>

            <div class="input-group md-form form-sm form-2 pl-0" id="generic-search-wrapper">
                <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search" id="generic-seach" autocomplete="off">
                <div class="input-group-append" onclick="DoCSE()">
                    <span class="input-group-text lime lighten-2" id="basic-text1">
                        <i class="fas fa-search text-grey"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>


        <div class="container" style="padding:10px; color:white">
            <div class="row">
                <div class="col-3 search-filter" id="search-filter-web">
                    <span class="active">Web</span>
                </div>
                <div class="col-3 search-filter" id="search-filter-image">
                    <span class="">Image</span>
                </div>
                <div class="col-3 search-filter" id="search-filter-image">
                    <span class=""><a href="/yelp">Yelp</a></span>
                </div>
                <div class="col-3 search-filter" id="search-filter-youtube">
                    <span class=""><a href="/youtube">YouTube</a></span>
                </div>
                @*<div class="col-3 search-filter" id="search-filter-wikipedia">
                    <span class="">Wikipedia</span>
                </div>*@
            </div>
        </div>
    </nav>


    @RenderBody()



    <!-- Footer -->
    <footer class="footer text-center" style="display:none">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        2215 John Daniel Drive
                        <br />
                        Clark, MO 65243
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About Freelancer</h4>
                    <p class="lead mb-0">
                        Freelance is a free to use, MIT licensed Bootstrap theme created by
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                        .
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <div id="overlay">

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        (function ($) {
            "use strict"; // Start of use strict

            // Closes the sidebar menu
            $(".menu-toggle").click(function (e) {
                e.preventDefault();
                $("#sidebar-wrapper").toggleClass("active");
                $(".menu-toggle > .fa-bars, .menu-toggle > .fa-times").toggleClass("fa-bars fa-times");
                $(this).toggleClass("active");
                $("#overlay").toggleClass("active");
            });

            // Smooth scrolling using jQuery easing
            $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000, "easeInOutExpo");
                        return false;
                    }
                }
            });



            // Closes responsive menu when a scroll trigger link is clicked
            $('#sidebar-wrapper .js-scroll-trigger').click(function () {
                $("#sidebar-wrapper").removeClass("active");
                $(".menu-toggle").removeClass("active");
                $(".menu-toggle > .fa-bars, .menu-toggle > .fa-times").toggleClass("fa-bars fa-times");
            });

            // Scroll to top button appear
            $(document).scroll(function () {
                var scrollDistance = $(this).scrollTop();
                if (scrollDistance > 100) {
                    $('.scroll-to-top').fadeIn();
                } else {
                    $('.scroll-to-top').fadeOut();
                }
            });

        })(jQuery); // End of use strict
       
    </script>

</body>
</html>
